h1 flexbox排版入門
hr
.flexrow
  .div
    h3 使用flex控制份數
    .flexcard
      .left L 6
      .middle M 120px
      .right R 4
  .div
    h3 flex-direction控制軸向
    .flexcard.flexcard2
      .left L 6
      .middle M 120px
      .right R 4
h3 flex-grow 控制膨脹分配
  .flexcard.flexcard3
    .left L 400px
    .middle M 300px
    .right R 200px(flex-grow = 0)
h3 flex-shrink 控制縮減分配
  .flexcard.flexcard4
    .left L 400px(flex-shrink = 0)
    .middle M 300px
    .right R 200px
h2 順序flex-direction: column-reverse/row-reverse
